@page
@model IndexModel
@{
    
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container text-center">
        <a class=" m-2 btn  w-75" style="height:50%; background-color:#566787" asp-page="Doctor">Doctor</a>
        <a class=" m-2 btn  w-75" style="height:50%; background-color:#566787" asp-page="Patient" >Patient</a>
    </div>
</div>


